body {
    background-color: #25A31D;
    color: #FFFDB7;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container-prime {
    display: flex;
    flex-direction: column;
    align-items: center;      
    border: solid red;
    padding-top: 75px;
}

.container-top {
    border: solid blue;
}

#welcome {
    border: solid;
    flex-basis: 1 1 auto;
}

.container-main {
    border: solid;
}

.list-distortions {
    list-style: none;
}

.list-distortions li {
    border: solid blue;
}


.btn-start {
    background:#25A31D;
    color: #FFFDB7;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .btn-start:hover{
    background: #25A31D;
    color: #FFFDB7;
  }
  .btn-start:before,.btn-start:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background:  #FFFDB7;
    transition:400ms ease all;
  }
  .btn-start:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-start:hover:before,.btn-start:hover:after{
    width:100%;
    transition:800ms ease all;
  }