body {
    background-color: #25A31D;
    color: #FFFDB7;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14pt;
}

.container-prime {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.container-summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid #FFFDB7;
}

#welcome {
    flex-basis: 1 1 auto;
}

.key {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-text {
    display: flex;
    justify-content: center;
}

.input-text {
    width: 400px;
}



#header-distortion {
    display: flex;
    justify-content: center;
}

.container-feelings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-checkbox {
    display: flex;
    font-size: 18pt;

}


.container-input {
    display: flex;
    justify-content: center;
}

.container-buttons {
    display: flex;
    justify-content: center;
}

.list-distortions {
    list-style: none;
}

.list-distortions li {
    border: solid blue;
}







/* button stuff */

.btn-start {
    background: #25A31D;
    color: #FFFDB7;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.btn-start:hover {
    background: #25A31D;
    color: #FFFDB7;
}

.btn-start:before,
.btn-start:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #FFFDB7;
    transition: 400ms ease all;
}

.btn-start:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-start:hover:before,
.btn-start:hover:after {
    width: 100%;
    transition: 800ms ease all;
}